.MainHeader {
  $headerMainColor: #2E4B73;
  .MainHeaderBar {
    $headerBarHeight: 60px;
    background-color: $headerMainColor;
    height: $headerBarHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .MainHeaderBar-logo {
      $logoSize: $headerBarHeight * 3 / 4;
      width: $logoSize;
      height: $logoSize;
      margin: $headerBarHeight / 8;
      border-radius: $logoSize / 2;
    }
  
    .MainHeaderBar-CentorClock {
      color: white;
      font-weight: 600;
    }
    
    .MainHeaderBar-MenuButton {
      & > button {
        border: 1px solid skyblue;
        background-color: rgba(0,0,0,1); 
        color: skyblue;
        padding: 5px;
      }
  
      & > img {
        padding: 2px 4px;
        margin: $headerBarHeight / 8;
        border: 1px solid rgba(255,255,255, 0.4);
        border-radius: 4px;
      }
    }
  
  }

  .MainHeaderMenu {
    background-color:$headerMainColor;
    padding: 10px 20px;
    .MainHeaderMenu-MenuContent {
      padding:10px 0px;
      // background-color: red;
      & a {
        display:block;
      }
      & :hover {
        font-weight: 600;
      }
      cursor:pointer;
    }
  }
}

